header h1{
	text-align: center;
	color: #FFFFFF;
}

body{
	background-color: #1e90ff;
}

nav a{
	position: center;
	text-align: center;
	color: #FFFFFF;
	background: transparent;
	display: inline-block;
	width: 30%;
	margin-right: 2%;
	text-decoration: none;
}

.current{
	color: #FFFF00;
	background: transparent;
	text-transform: uppercase;
}

img{
	display: block;
	width: 50%;
	max-width: 288px;
}