/* For all pages and general formatting */

header h1{
	text-align: center;
	color: #FFFFFF;
@@ -26,7 +24,6 @@ nav a{
.current{
	color: #111111;
	background: #eeeeee;
	text-transform: uppercase;
	border-radius: 4px;
}

@@ -97,60 +94,27 @@ div.goals {
	line-height: 1.6;
}


/* for Resume page */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eeeeee;
  color: #444444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
.button {
  background-color: #2a5682;
  border: white;
  border-radius: 4px;
  border: 1px solid;
  color: #FFFFFF;
  padding: 15px 0px;
  width: 150px;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 23%;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
.socialmedia a:hover{
	background-color: #FFFFFF;
	color: #2a5682;
	border: white;
}

section.res{
	margin: auto;
	margin-top: 15px;
	width: 90%;
}

p.um {
	font-weight: bold;
}

.bird {
	display: none;
}

/* for responsive design*/

@@ -183,46 +147,5 @@ p.um {
    float: none;
  	}

	.right{
	display: block;
	float: left;
	width: 35%;
	}

	.left {
	display: block;
	width: 55%;
	background-color: transparent;
	float: left;
	height: 100vh;
	color: #FFFFFF;
	padding-left: 20px;
	}

	.right img {
	display: block;
	width: 70%;
	margin: 15px;
	border:1px solid #111111;
  	margin-left: auto;
  	margin-right: auto;
 	}

 	.accordion{
 		text-align: left;
 	}

 	.bird{
 		display: block;
 		width: 80%;
 		margin: auto;
 		margin-top: 15px;
 		margin-bottom: 15px;
 		border: solid 2px black;
 	}



}
