/* for home page*/

.right{
	display: block;
	float: right;
	margin: auto;
}

.left {
	display: block;
	background-color: transparent;
	float: left;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 30px;
	font-size: 1.10em;
}

.right img{
	display: block;
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
	border: black solid 2px;
}

.left h2{
	text-decoration: underline;
}

.left a {
	color: #FFFFFF;
}

.left a:hover{
	color: #fcff40 /*#FF69B4*/;
}

div.goals {
	line-height: 1.6;
}


/* for Resume page */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eeeeee;
  color: #444444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

section.res{
	margin: auto;
	margin-top: 15px;
	width: 90%;
}

p.um {
	font-weight: bold;
}

.bird {
	display: none;
}

@media screen and (min-width:900px){

 	.accordion{
 		text-align: left;
 	}

 	.bird{
 		display: block;
 		width: 80%;
 		margin: auto;
 		margin-top: 15px;
 		margin-bottom: 15px;
 		border: solid 2px black;
 	}

 	.right{
	display: block;
	float: left;
	width: 35%;
	}

	.left {
	display: block;
	width: 55%;
	background-color: transparent;
	float: left;
	height: 100vh;
	color: #FFFFFF;
	padding-left: 20px;
	}

	.right img {
	display: block;
	width: 70%;
	margin: 15px;
	border:1px solid #111111;
  	margin-left: auto;
  	margin-right: auto;
 	}
